@using Muxarr.Core.Utilities
@inject TimeAgoService TimeAgoService
@inherits DisposableComponent

<ToolTip Tip="@DateTime.ToLocalTime().ToString("g")">
    <span class="text-body">@TimeHelper.FormatTimeAgo(DateTime)</span>
</ToolTip>

@code {
    [Parameter] [EditorRequired] public DateTime DateTime { get; set; }

    protected override void OnInitialized()
    {
        TimeAgoService.Subscribe(TriggerRender);
    }

    private void TriggerRender()
    {
        if ((DateTime.UtcNow - DateTime).TotalMinutes > 60)
        {
            return;
        }

        _ = InvokeAsync(StateHasChanged);
    }

    public override void Dispose()
    {
        TimeAgoService.Unsubscribe(TriggerRender);
    }
}